<nav class="navbar">
    <div class="nav-container">
        <div class="logo">
            <a href="{{basePath}}index.html">
                <img src="{{basePath}}images/logos/LB text no symbol black 2.png" alt="LoopBridge Logo" class="logo">
            </a>
        </div>
        <button class="menu-toggle" id="mobile-menu-btn" aria-label="Toggle navigation menu" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="nav-menu" id="nav-menu" role="navigation">
            <div class="nav-links">
                <a href="{{basePath}}academy.html" class="nav-link-hover" data-page="academy">Academy</a>
                <a href="{{basePath}}exchange.html" class="nav-link-hover" data-page="exchange">Exchange</a>
                <a href="{{basePath}}community.html" class="nav-link-hover" data-page="community">Community</a>
                <a href="{{basePath}}about.html" class="nav-link-hover" data-page="about">About</a>
                <a href="{{basePath}}blog.html" class="nav-link-hover" data-page="blog">Blog</a>
                <a href="{{basePath}}faqs.html" class="nav-link-hover" data-page="faqs">FAQs</a>
            </div>
            <div class="nav-join">
                <a href="{{basePath}}community.html">Join the Community</a>
            </div>
        </div>
    </div>
</nav>
