@import url('../fonts/CabinetGrotesk_Complete/Fonts/WEB/css/cabinet-grotesk.css');




:root {
    --black-dark: #1e1e1e;
    --black-mid: #444b54;
    --black-two: #3b3b3b;
    --gray-light: #f9fafb;
    --gray-mid: #f2f4f6;
    --gray-dark: #e8ebef;
    --lb-green: #30c070;
    --lb-blue-dark: #013352;
    --lb-blue-light: #00c1df;
    --lb-blue-text: #013352;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    padding: 10px 40px;
    font-family: "Schibsted Grotesk", sans-serif;
    margin: 80px 40px;
    border: 1px solid var(--gray-mid);
    border-radius: 60px;
    background-color: #ffffff;
}

.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.navbar a.active {
    color: var(--lb-green);
}

.nav-join {
    padding: 16px 11px;
    border-radius: 35px;
    background-color: var(--lb-green);
    color: white;
}

.nav-join a {
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 300px 0 60px;
}

.hero-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 60px;
}

.hero-body h1 {
    font-family: CabinetGrotesk-Bold, sans-serif;
    font-size: 76px;
    color: var(--lb-blue-dark);
}

.hero-body p {
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 20px;
    color: var(--black-mid);
}

.hero-btn {
    font-weight: 300;
    font-size: 18px;
    background-color: white;
    color: var(--lb-green);
    border: 1px solid var(--lb-green);
    padding: 11px 22px;
    margin-top: 20px;
    border-radius: 35px;
}

.btn-primary {
    background-color: var(--lb-green);
    color: white;
    border: none;
}

.why {
    background-color: #f6fffa;
    padding: 60px 40px 100px;
}

.why h2 {
    color: var(--lb-blue-dark);
}

section h2 {
    font-family: CabinetGrotesk-Bold, sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 60px 0;
}

.sections {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: CabinetGrotesk-Medium, sans-serif;
    font-weight: 100;
    flex: 1;
    border-radius: 20px;
    padding: 20px 20px 0;
}

.section-title {
    display: inline-block;
    width: auto;
    white-space: nowrap;
    font-size: 20px;
    padding: 7px 18px;
    background-color: var(--lb-blue-dark);
    color: white;
    border-radius: 43px;
    text-align: center;
    margin: 0 auto 0 0;
}

.emoji {
    margin-right: 10px;
}

.discovered {
    background: linear-gradient(90deg, rgba(225,251,255,0.4) 18%, rgba(214,244,228,0.4) 86%);
}

.solution {
    background: linear-gradient(90deg, rgba(225,251,255,0.48) 18%, rgba(214,244,228,0.48) 86%);
}

.section-body {
    font-size: 24px;
    margin-top: 50px;
    flex-grow: 1;
}

.section .vector {
    margin: 80px 0 0;
    display: flex;
    justify-content: center;
}

.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

.join h2 {
    flex: 1;
    text-align: left;
}

.join-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.join-top p {
    flex: 1;
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 150px;
}

.join-bottom {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.box {
    background-color: var(--gray-light);
    border: 1px solid var(--gray-mid);
    padding: 28px 20px;
    font-family: 'schibsted-grotesk', sans-serif;
    font-weight: 300;
    border-radius: 16px;
}

.box h3 {
    font-family: CabinetGrotesk-Bold, sans-serif;
    margin: 20px 0;
}

.box button {
    font-weight: 600;
    font-size: 16px;
    color: white;
    background-color: var(--lb-green);
    border: none;
    padding: 11px 41px;
    width: 100%;
    margin: 20px 0 0;
    border-radius: 35px;
}

.material-symbols-outlined {
    font-size: 48px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.box .icon {
    font-size: 30px;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academy .icon {
    background-color: var(--lb-blue-light); 
}

.whatsapp .icon {
    background-color: var(--lb-green); 
}

.community .icon {
    background-color: #ff6e2a; 
}

.newsletter .icon {
    background-color: #9747ff; 
}

.circle-effect {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    animation: moveAndFade 5s linear infinite;
}

section.newsletter {
    background-color: #f6fffa;
    padding: 160px 40px;
}

.newsletter h2 {
    text-align: left;
    margin-bottom: 0;
}

.inner-section {
    display: flex;
    background-color: var(--lb-blue-dark);
    color: white;
    padding: 60px 40px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.inner-section::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match the width of the container */
    height: 100%; /* Match the height of the container */
    background-color: #ffffff10; /* Lighter color for the uncovered areas */
    -webkit-mask: url('../images/stripe-pattern.svg') no-repeat center center; /* Apply the SVG as a mask */
    -webkit-mask-size: cover; /* Scale the mask to cover the container */
    -webkit-mask-composite: destination-in; /* Invert the mask behavior */
    mask: url('../images/stripe-pattern.svg') no-repeat center center; /* Fallback for other browsers */
    mask-size: cover; /* Scale the mask to cover the container */
    mask-composite: intersect; /* Invert the mask behavior */
    z-index: 1; /* Ensure it appears above the background */
    pointer-events: none; /* Prevent interaction with the mask */
}

.inner-section .body,
.inner-section .image {
    position: relative; /* Ensure content is above the pseudo-element */
    z-index: 2; /* Place content above the pseudo-element */
}

.inner-section .body {
    flex: 1.5;
    text-align: left;
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-left: 60px;
}

.inner-section .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-button {
    font-weight: 600;
    font-size: 18px;
    color: white;
    background-color: var(--lb-green);
    border: none;
    padding: 11px 22px;
    margin: 50px 0 40px;
    border-radius: 35px;
}

.accent {
    color: #56ffa1;
}

.accent-two {
    color: var(--lb-green);
}

footer {
    padding: 100px 40px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    font-family: "Schibsted Grotesk", sans-serif;
    gap: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--gray-mid);
    color: var(--black-mid);
}

.first {
    flex: 1;
}

.motto {
    margin-top: 16px;
}


.middle {
    flex: 2;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.part {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.part h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--lb-blue-dark);
}

.part a {
    color: var(--black-mid);
    text-decoration: none;
    font-weight: 300;
}

.rest {
    flex: 1.5;
}

.socials {
    display: flex;
    gap: 20px;
    font-size: 28px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.socials a {
    color: var(--lb-green);
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.contact-item .title {
    color: #868788;
}

.contact-item a {
    text-decoration: none;
    color: var(--black-mid);
}

.disclaimer {
    margin-top: 60px;
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #868788;
    line-height: 2.5rem;
}

.disclaimer a {
    color: var(--lb-green);
    text-decoration: none;
}


@keyframes moveAndFade {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    10% {
        opacity: 1; /* Fade in */
    }
    90% {
        opacity: 1; /* Stay visible */
    }
    100% {
        transform: translate(calc(var(--translateX, 0px)), calc(var(--translateY, 0px)));
        opacity: 0; /* Fade out */
    }
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
    .circle-effect {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}