@import url('../fonts/CabinetGrotesk_Complete/Fonts/WEB/css/cabinet-grotesk.css');

/* ACADEMY HERO */
.academy-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18.75rem 5rem 9.375rem; /* 300px 80px 150px */
    background-color: var(--lb-blue-dark);
}

.academy-hero h1 {
    font-family: CabinetGrotesk-Bold, sans-serif;
    font-size: 3.75rem; /* 60px */
    font-weight: bold;
    color: white;
}

.hero-body {
    flex: 1;
    display: block;
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1.25rem; /* 20px */
    
}

.hero-body p {
    margin: 1.875rem 0 2.5rem; /* 30px 0 40px */
    color: var(--gray-mid);
}

.academy-hero-img {
    flex: 1;
}

.primary-btn {
    font-size: 1.125rem; /* 18px */
    font-family: 'schibsted-grotesk', sans-serif;
    border: none;
    padding: 13px 41px; /* 16px 41px */
    border-radius: 2.1875rem; /* 35px */
    background-color: var(--lb-green);
    color: white;
}

.pathways {
    padding: 3.75rem 5rem 6.25rem; /* 60px 80px 100px */
    background-color: #f8fffd;
}

.pathways .section-container {
    display: block;
}

.pathways h2 {
    text-align: left;
    font-size: 3rem; /* 48px */
    margin-bottom: 1.25rem; /* 20px */
    color: var(--lb-blue-dark);
}

.pathways .section-container>p {
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1.5rem; /* 24px */
    font-weight: 300;
    color: var(--lb-blue-dark);
    margin-bottom: 2.5rem; /* 40px */
}

.path-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.track-cards {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem; /* 20px */
    margin-top: 2.5rem; /* 40px */
}

.card-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem; /* 12px */
    border: 1px solid var(--gray-dark);
    background-color: white;
}

.box {
    height: 100%;
    display: block;
    background-color: white;
    border: 1px solid var(--gray-dark);
}

.box h3 {
    font-family: CabinetGrotesk-Bold, sans-serif;
    font-size: 1.5rem; /* 20px */
    color: var(--lb-blue-dark);
}

.box p {
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1rem; /* 16px */
    color: var(--black-mid);
}

.box .box-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.box .box-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.box-body a {
    margin-top: 1.25rem;
}

.box .box-button {
    border: 1px solid var(--gray-dark);
    background-color: transparent;
    color: var(--black-mid);
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1rem; /* 16px */
    padding: 0.6875rem 1rem; /* 11px 16px */
    border-radius: 2.1875rem; /* 35px */
    width: 100%; /* 20px */
    margin-top: 0;
    font-weight: 600;
}

.box .card-highlight {
    margin-bottom: 1rem;
}

.card-head {
    background: linear-gradient(180deg, rgba(225,255,238,0.4) 0%, rgba(217,248,210,0.4) 86%);
    padding: 1.25rem; /* 20px */
}

.box-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.courses .card-highlight {
    background-color: #ffcdb6;
}

.glossary .card-highlight {
    background-color: #dec4ff;
}

.card-highlight {
    background-color: #d5ffda;
    display: inline-flex;
    padding: 0.3125rem 0.625rem; /* 5px 10px */
    border-radius: 1.125rem; /* 18px */
    font-size: 0.875rem; /* 14px */
    color: var(--black-mid);
}

.intermediate .card-highlight {
    background-color: #dec4ff;
}

.intermediate .card-head {
    background: linear-gradient(180deg, #f7f0ff66 0%, #e0c9fe66 100%);
    padding: 1.25rem; /* 20px */
}

.intermediate .card-list li::before {
    color: #9747ff;
}

.advanced .card-highlight {
    background-color: #ffcdb6;
}

.advanced .card-head {
    background: linear-gradient(180deg, #ffe6da66 0%, #f8c8b166 100%);
    padding: 1.25rem; /* 20px */
}

.advanced .card-list li::before {
    color: #ff6e2a;
}

.card-title {
    font-family: CabinetGrotesk-Bold, sans-serif;
    font-size: 1.5rem; /* 24px */
    margin: 1.25rem 0 0.625rem; /* 20px 0 10px */
    color: var(--lb-blue-dark);
}

.card-subheading {
    font-size: 1rem; /* 16px */
    color: var(--black-mid);
}

.card-body {
    flex: 1;
    padding: 1.25rem; /* 20px */
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1rem; /* 16px */
    color: var(--black-mid);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
    margin: 1.25rem 0; /* 20px 0 */
    list-style: none;
    padding-left: 0;
}

.card-list li {
    position: relative;
    padding-left: 1.875rem; /* 30px */
}

.card-list li::before {
    content: "\2726";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.125rem; /* 18px */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
    color: var(--lb-green);
}

.card-btn {
    border: 1px solid var(--gray-dark);
    background-color: transparent;
    color: var(--black-mid);
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1rem; /* 16px */
    padding: 0.6875rem 1rem; /* 11px 16px */
    border-radius: 2.1875rem; /* 35px */
    width: 100%;
    margin: 1.25rem 0; /* 20px 0 */
}

.intro {
    padding: 10rem 5rem; /* 160px 80px */
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 2.75rem; /* 44px */
    font-weight: 400;
    color: var(--lb-blue-dark);
    text-align: center;
}

.intro .icon {
    color: white;
    font-size: 2.5rem; /* 40px */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem; /* 60px */
    height: 3.75rem; /* 60px */
    border-radius: 50%;
}

.grad-hat {
    background-color: #ff6e2a;
}
.wallet {
    background-color: var(--lb-green);
}
.ether {
    background-color: #9747ff;
}

.philosophy {
    padding: 10rem 5rem; /* 160px 80px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem; /* 20px */
}

.tagline {
    flex: 1.5;
    text-align: left;
}

.philosophy-body {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 5rem; /* 80px */
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: 1.5rem; /* 24px */
    color: var(--black-dark);
    gap: 1.875rem; /* 30px */
    font-weight: 300;
}

/* ========================================= */
/*               RESPONSIVENESS              */
/* ========================================= */


@media (max-width: 1300px) {
    .academy-hero .section-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem; /* 40px */
        
    }

    .primary-btn {
        margin: auto;
        display: block;
    }

    .academy-hero-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .pathways {
        padding: 3.75rem 3.75rem 6.25rem; /* 60px 60px 100px */
    }

    .pathways h2 {
        font-size: 2.5rem; /* 40px */
    }

    
    .track-cards {
        gap: 1.25rem; /* 20px */
    }

    .intro {
        padding: 3.75rem 3.75rem; /* 60px 60px */
        font-size: 2rem; /* 32px */
    }

    .philosophy {
        padding: 3.75rem 3.75rem; /* 60px 60px */
    }

    .philosophy-body {
        margin-left: 0;
        width: 80%;
        margin-top: 2rem; /* 32px */
    }
}


@media (max-width: 62rem) {
    

    .pathways {
        padding: 3.75rem 1.25rem; /* 60px 20px */
    }

    .pathways h2 {
        font-size: 2.5rem; /* 40px */
    }

    .path-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro {
        padding: 3.75rem 1.25rem; /* 60px 20px */
        font-size: 2rem; /* 32px */
    }

    .philosophy {
        padding: 3.75rem 1.25rem; /* 60px 20px */
    }

    .philosophy .section-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .philosophy-body {
        margin-left: 0;
        width: 100%;
        margin-top: 2rem; /* 32px */
    }

    .tagline {
        text-align: left;
        width: 100%;
    }
}

@media (max-width: 760px) {
    .academy-hero {
        padding: 12rem 1.75rem 2rem; /* 160px 20px 60px */
        text-align: left;
    }

    .academy-hero .section-container {
        flex-direction: column;
    }

    .academy-hero h1 {
        font-size: 3rem; /* 48px */
    }

    .hero-body {
        margin-bottom: 2.5rem; /* 40px */
        width: 100%;
    }

    .primary-btn {
        width: 100%;
    }

    .academy-hero-img {
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 640px) {
    .path-cards {
        grid-template-columns: 1fr;
    }
}