.featured, .article-section {
    padding: 18rem 4rem 4rem;
}

.related-articles {
    padding: 4rem;
}



.featured .section-container, .feed .section-container, .related-articles .section-container {
    display: block;
}

.article-section .section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 0px 12rem;
}

.article-section .header{
    margin-bottom: 0;
}

.article-section .article-image{
    width: 100%;
    aspect-ratio: 3.1/1;
    border-radius: 12px;
    border: 1px solid black;
    overflow: hidden;
}

.article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.article-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 12px;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.author-name {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 300;
    color: var(--black-dark);
    font-size: 16px;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
}

.author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.other-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.other-info>* {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 300;
    color: var(--black-mid);
    font-size: 14px;
    padding: 8px 18px;
    background-color: white;
    border: 1px solid var(--gray-dark);
    border-radius: 19px;
}

.article-section .body {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 300;
    color: var(--black-two);
    font-size: 18px;
    line-height: 2rem;
    margin-top: 20px;
}

.article-section .body h2 {
    font-size: 1.5rem; /* 24px */
    font-weight: 500;
    color: var(--lb-blue-text);
    margin: 1.5rem 0;
    text-align: left;
}

.article-section .body h3 {
    font-size: 1.25rem; /* 24px */
    font-weight: 500;
    color: var(--lb-blue-text);
    margin: 1rem 0;
    text-align: left;
}

.article-section .body p {
    margin: 1rem 0;
}

.featured h2, .feed h2, .related-articles h2, .article-section h1 {
    text-align: left;
    font-family: CabinetGrotesk-Variable, sans-serif;
    font-weight: 600;
    font-size: clamp(32px, 3vw, 36px);
    margin-bottom: 2rem;
    margin-top: 0;
    color: var(--lb-blue-text);
}


.featured .section-container>p, .related-articles .section-container>p {
    font-family: 'schibsted-grotesk', sans-serif;
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
    color: var(--lb-blue-text);
    margin-bottom: 3rem;
    max-width: 550px;
}

.categories {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin-bottom: 30px;

}

.category-buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.category-button, .load-btn {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 500;
    color: var(--black-dark);
    font-size: clamp(14px, 1.5vw, 16px);
    background-color: white;
    border-radius: 19px;
    display: inline-block;
    padding: 11px 18px;
    border: 1px solid var(--gray-dark);
}

.category-button.active {
    background-color: var(--lb-green);
    color: white;
    border: none;
}

.featured .articles, .related-articles .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.articles > a {
    text-decoration: none;
}

.article-card {
    background-color: var(--gray-light);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.article-card:hover {
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.1);
}

.featured .article-image, .related-articles .article-image {
    height: 240px;
    object-fit: cover;
    object-position: center;
    background-color: #e9fded;
    margin-bottom: 10px;
    position: relative;
}

.article-category {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 300;
    color: var(--black-mid);
    font-size: clamp(12px, 1.5vw, 14px);
    margin-bottom: 0.5rem;
    background-color: var(--gray-mid);
    border-radius: 19px;
    display: inline-block;
    padding: 7px 18px;
    position: absolute;
    top: 16px;
    left: 20px;
}

.article-body {
    padding: 24px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    
}

.article-title {
    font-family: 'CabinetGrotesk-Variable', sans-serif;
    font-weight: 600;
    color: var(--lb-blue-text);
    font-size: 22px;
    margin: 6px 0;
}

.article-description {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 300;
    color: var(--lb-blue-text);
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.article-subscript {
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 200;
    color: var(--black-mid);
    font-size: clamp(12px, 1.5vw, 14px);
}

@media (max-width: 1200px) {
    .featured .articles, .related-articles .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .featured .articles, .related-articles .articles {
        grid-template-columns: 1fr;
    }

    section.featured, section.article-section {
        padding: 14rem 2rem 3rem;
    }

    section.related-articles {
        padding: 3rem 2rem;
    }

    .nav-container {
        margin: 80px 20px;
        width: calc(100% - 40px);
    }
}